# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Flask stuff
instance/
*.db
*.sqlite3
book.db

# Pytest cache
.pytest_cache/

# Coverage reports
htmlcov/
.coverage

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs and databases
*.log

# Static files cache (optional, if you don't want to track them)
static/images/book_covers/*.png

# Environment variables
.env
.env.*

# Mac OS
.DS_Store

# Miscellaneous
*.bak
*.swp
